body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
.area{
    margin: 20px;
}

.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo{
    display: flex;
    width: 50%;
    margin-right: 660px;
}
.logo img{
    width: 200px;
    margin-right: 8px;
    opacity: .7;
    transition: .4s;
}
.logo img:hover{
    opacity: 1;
}
.menu{
    display: flex;
    width: 50%;
}
.menu ul{
    list-style: none;
    display: block;
    display: flex;
}
.menu ul li{position: relative;margin-right: 45px;}

.menu-item:hover .submenu{
    visibility: visible;
    opacity: 1;

}
.menu  ul li a{
    font-size: 27px;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
    opacity: .7;
    color:#f22b32;
    flex-wrap: nowrap;
}
.menu  ul li a:hover{
    opacity: 1;
}
.submenu{
    list-style: none;
    display: block;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    transition: .3s;
    flex-direction: column;
} 
.submenu li{}
.submenu li a{
   
}

.border-container{
    width: 100%;
}
.border1{
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    background-color: #e4464b;
    margin-top: 10px;
}
.border2{
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    background-color: #ff7b26;
    margin-top: 10px;
}
.border3{
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    background-color: #1856ae;
    margin-top: 10px;
}